<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Akkorde mit E</title>
  </head>

  <body>
    <header>
      <div class="headercontent">
        <div class="button">
          <a href="/">Notenauswahl</a>
        </div>
        <div class="button">
          <a href="/completelist">komplette Übersicht</a>
        </div>
        <div class="button">
          <a href="/aboutme">About</a>
        </div>
      </div>
      <div class="language-menu">
        <a href="/"><img src="/images/germany.jpg" /> Deutsch</a> |
        <a href="/english/"><img src="/images/uk.jpg" /> English</a> |
        <a href="/roman/"><img src="/images/italy.jpg" /> Italiano</a>
      </div>
    </header>

    <div id="circle"></div>

    <main>
      <div class="jumppoints">
        <p><span class="uppercase">e</span> als Grundton:</p>
        <div class="jInner">
          <div>
            <a href="#E-Dur" id="E-Durlink">E-Dur</a>
          </div>
          <script>
            var el = document.getElementById("E-Durlink");
            el.onclick = showFoo;

            function showFoo() {
              var elements = document.getElementsByClassName("yellow");
              for (var i = 0, len = elements.length; i < len; i++) {
                elements[i].classList.remove("yellow");
              }
              document.getElementById("E-Dur").classList.add("yellow");
            }
          </script>

          <div>
            <a href="#e-moll" id="e-molllink">e-moll</a>
          </div>
          <script>
            var el = document.getElementById("e-molllink");
            el.onclick = showFoo;

            function showFoo() {
              var elements = document.getElementsByClassName("yellow");
              for (var i = 0, len = elements.length; i < len; i++) {
                elements[i].classList.remove("yellow");
              }
              document.getElementById("e-moll").classList.add("yellow");
            }
          </script>
        </div>

        <p>
          Andere Akkorde, die ein <span class="uppercase">e</span> enthalten:
        </p>
        <div class="jInner">
          <div>
            <a href="#C-Dur" id="C-Durlink">C-Dur</a>
          </div>
          <script>
            var el = document.getElementById("C-Durlink");
            el.onclick = showDoo;

            function showDoo() {
              var elements = document.getElementsByClassName("yellow");
              for (var i = 0, len = elements.length; i < len; i++) {
                elements[i].classList.remove("yellow");
              }
              document.getElementById("C-Dur").classList.add("yellow");
            }
          </script>

          <div>
            <a href="#A-Dur" id="A-Durlink">A-Dur</a>
          </div>
          <script>
            var el = document.getElementById("A-Durlink");
            el.onclick = showDoo;

            function showDoo() {
              var elements = document.getElementsByClassName("yellow");
              for (var i = 0, len = elements.length; i < len; i++) {
                elements[i].classList.remove("yellow");
              }
              document.getElementById("A-Dur").classList.add("yellow");
            }
          </script>

          <div>
            <a href="#a-moll" id="a-molllink">a-moll</a>
          </div>
          <script>
            var el = document.getElementById("a-molllink");
            el.onclick = showDoo;

            function showDoo() {
              var elements = document.getElementsByClassName("yellow");
              for (var i = 0, len = elements.length; i < len; i++) {
                elements[i].classList.remove("yellow");
              }
              document.getElementById("a-moll").classList.add("yellow");
            }
          </script>

          <div>
            <a href="#cis-moll" id="cis-molllink">cis-moll</a>
          </div>
          <script>
            var el = document.getElementById("cis-molllink");
            el.onclick = showDoo;

            function showDoo() {
              var elements = document.getElementsByClassName("yellow");
              for (var i = 0, len = elements.length; i < len; i++) {
                elements[i].classList.remove("yellow");
              }
              document.getElementById("cis-moll").classList.add("yellow");
            }
          </script>
        </div>
      </div>

      <h2><span class="uppercase">e</span> als Grundton</h2>

      <div class="piano-surround">
        <h2 style="font-family: &quot;Roboto Slab&quot;, serif" id="E-Dur">
          E-Dur
        </h2>
        <div class="piano">
          <a href="/c">
            <div class="white" id="cE-Dur">
              <h1>c</h1>
            </div>
          </a>
          <a href="/cis">
            <div class="black" id="cisE-Dur">
              <h1>cis</h1>
            </div>
          </a>
          <a href="/des">
            <div class="black" id="desE-Dur">
              <h1>des</h1>
            </div>
          </a>
          <a href="/d">
            <div class="white" id="dE-Dur">
              <h1>d</h1>
            </div>
          </a>
          <a href="/dis">
            <div class="black" id="disE-Dur">
              <h1>dis</h1>
            </div>
          </a>
          <a href="/es">
            <div class="black" id="esE-Dur">
              <h1>es</h1>
            </div>
          </a>
          <a href="/e">
            <div class="white" id="eE-Dur">
              <h1>e</h1>
            </div>
          </a>
          <a href="/f">
            <div class="white" id="fE-Dur">
              <h1>f</h1>
            </div>
          </a>
          <a href="/fis">
            <div class="black" id="fisE-Dur">
              <h1>fis</h1>
            </div>
          </a>
          <a href="/ges">
            <div class="black" id="gesE-Dur">
              <h1>ges</h1>
            </div>
          </a>
          <a href="/g">
            <div class="white" id="gE-Dur">
              <h1>g</h1>
            </div>
          </a>
          <a href="/gis">
            <div class="black" id="gisE-Dur">
              <h1>gis</h1>
            </div>
          </a>
          <a href="/as">
            <div class="black" id="asE-Dur">
              <h1>as</h1>
            </div>
          </a>
          <a href="/a">
            <div class="white" id="aE-Dur">
              <h1>a</h1>
            </div>
          </a>
          <a href="/ais">
            <div class="black" id="aisE-Dur">
              <h1>ais</h1>
            </div>
          </a>
          <a href="/b">
            <div class="black" id="bE-Dur">
              <h1>b</h1>
            </div>
          </a>
          <a href="/h">
            <div class="white" id="hE-Dur">
              <h1>h</h1>
            </div>
          </a>
          <a href="/c">
            <div class="white" id="chighE-Dur">
              <h1>c</h1>
            </div>
          </a>
          <a href="/cis">
            <div class="black" id="cishighE-Dur">
              <h1>cis</h1>
            </div>
          </a>
          <a href="/des">
            <div class="black" id="deshighE-Dur">
              <h1>des</h1>
            </div>
          </a>
          <a href="/d">
            <div class="white" id="dhighE-Dur">
              <h1>d</h1>
            </div>
          </a>
          <a href="/dis">
            <div class="black" id="dishighE-Dur">
              <h1>dis</h1>
            </div>
          </a>
          <a href="/es">
            <div class="black" id="eshighE-Dur">
              <h1>es</h1>
            </div>
          </a>
          <a href="/e">
            <div class="white" id="ehighE-Dur">
              <h1>e</h1>
            </div>
          </a>
          <a href="/f">
            <div class="white" id="fhighE-Dur">
              <h1>f</h1>
            </div>
          </a>
          <a href="/fis">
            <div class="black" id="fishighE-Dur">
              <h1>fis</h1>
            </div>
          </a>
          <a href="/ges">
            <div class="black" id="geshighE-Dur">
              <h1>ges</h1>
            </div>
          </a>
          <a href="/g">
            <div class="white" id="ghighE-Dur">
              <h1>g</h1>
            </div>
          </a>
          <a href="/gis">
            <div class="black" id="gishighE-Dur">
              <h1>gis</h1>
            </div>
          </a>
          <a href="/as">
            <div class="black" id="ashighE-Dur">
              <h1>as</h1>
            </div>
          </a>
          <a href="/a">
            <div class="white" id="ahighE-Dur">
              <h1>a</h1>
            </div>
          </a>
          <a href="/ais">
            <div class="black" id="aishighE-Dur">
              <h1>ais</h1>
            </div>
          </a>
          <a href="/b">
            <div class="black" id="bhighE-Dur">
              <h1>b</h1>
            </div>
          </a>
          <a href="/h">
            <div class="white" id="hhighE-Dur">
              <h1>h</h1>
            </div>
          </a>
        </div>

        <audio controls class="soundfile">
          <source src="/musicfiles/E-Dur.mp3" type="audio/mpeg" />
          Your browser does not support the audio element.
        </audio>

        <a href="/cis/#cis-moll">
          <p>Paralleltonart: cis-moll</p>
        </a>
      </div>

      <script>
        document.getElementById("e" + "E-Dur").classList.add("red");
        document.getElementById("gis" + "E-Dur").classList.add("red");
        document.getElementById("h" + "E-Dur").classList.add("red");
        document.getElementById("ehigh" + "E-Dur").classList.add("red");
      </script>

      <div class="piano-surround">
        <h2 style="font-family: &quot;Roboto Slab&quot;, serif" id="e-moll">
          e-moll
        </h2>
        <div class="piano">
          <a href="/c">
            <div class="white" id="ce-moll">
              <h1>c</h1>
            </div>
          </a>
          <a href="/cis">
            <div class="black" id="cise-moll">
              <h1>cis</h1>
            </div>
          </a>
          <a href="/des">
            <div class="black" id="dese-moll">
              <h1>des</h1>
            </div>
          </a>
          <a href="/d">
            <div class="white" id="de-moll">
              <h1>d</h1>
            </div>
          </a>
          <a href="/dis">
            <div class="black" id="dise-moll">
              <h1>dis</h1>
            </div>
          </a>
          <a href="/es">
            <div class="black" id="ese-moll">
              <h1>es</h1>
            </div>
          </a>
          <a href="/e">
            <div class="white" id="ee-moll">
              <h1>e</h1>
            </div>
          </a>
          <a href="/f">
            <div class="white" id="fe-moll">
              <h1>f</h1>
            </div>
          </a>
          <a href="/fis">
            <div class="black" id="fise-moll">
              <h1>fis</h1>
            </div>
          </a>
          <a href="/ges">
            <div class="black" id="gese-moll">
              <h1>ges</h1>
            </div>
          </a>
          <a href="/g">
            <div class="white" id="ge-moll">
              <h1>g</h1>
            </div>
          </a>
          <a href="/gis">
            <div class="black" id="gise-moll">
              <h1>gis</h1>
            </div>
          </a>
          <a href="/as">
            <div class="black" id="ase-moll">
              <h1>as</h1>
            </div>
          </a>
          <a href="/a">
            <div class="white" id="ae-moll">
              <h1>a</h1>
            </div>
          </a>
          <a href="/ais">
            <div class="black" id="aise-moll">
              <h1>ais</h1>
            </div>
          </a>
          <a href="/b">
            <div class="black" id="be-moll">
              <h1>b</h1>
            </div>
          </a>
          <a href="/h">
            <div class="white" id="he-moll">
              <h1>h</h1>
            </div>
          </a>
          <a href="/c">
            <div class="white" id="chighe-moll">
              <h1>c</h1>
            </div>
          </a>
          <a href="/cis">
            <div class="black" id="cishighe-moll">
              <h1>cis</h1>
            </div>
          </a>
          <a href="/des">
            <div class="black" id="deshighe-moll">
              <h1>des</h1>
            </div>
          </a>
          <a href="/d">
            <div class="white" id="dhighe-moll">
              <h1>d</h1>
            </div>
          </a>
          <a href="/dis">
            <div class="black" id="dishighe-moll">
              <h1>dis</h1>
            </div>
          </a>
          <a href="/es">
            <div class="black" id="eshighe-moll">
              <h1>es</h1>
            </div>
          </a>
          <a href="/e">
            <div class="white" id="ehighe-moll">
              <h1>e</h1>
            </div>
          </a>
          <a href="/f">
            <div class="white" id="fhighe-moll">
              <h1>f</h1>
            </div>
          </a>
          <a href="/fis">
            <div class="black" id="fishighe-moll">
              <h1>fis</h1>
            </div>
          </a>
          <a href="/ges">
            <div class="black" id="geshighe-moll">
              <h1>ges</h1>
            </div>
          </a>
          <a href="/g">
            <div class="white" id="ghighe-moll">
              <h1>g</h1>
            </div>
          </a>
          <a href="/gis">
            <div class="black" id="gishighe-moll">
              <h1>gis</h1>
            </div>
          </a>
          <a href="/as">
            <div class="black" id="ashighe-moll">
              <h1>as</h1>
            </div>
          </a>
          <a href="/a">
            <div class="white" id="ahighe-moll">
              <h1>a</h1>
            </div>
          </a>
          <a href="/ais">
            <div class="black" id="aishighe-moll">
              <h1>ais</h1>
            </div>
          </a>
          <a href="/b">
            <div class="black" id="bhighe-moll">
              <h1>b</h1>
            </div>
          </a>
          <a href="/h">
            <div class="white" id="hhighe-moll">
              <h1>h</h1>
            </div>
          </a>
        </div>

        <audio controls class="soundfile">
          <source src="/musicfiles/e-moll.mp3" type="audio/mpeg" />
          Your browser does not support the audio element.
        </audio>

        <a href="/g/#G-Dur">
          <p>Paralleltonart: G-Dur</p>
        </a>
      </div>

      <script>
        document.getElementById("e" + "e-moll").classList.add("red");
        document.getElementById("g" + "e-moll").classList.add("red");
        document.getElementById("h" + "e-moll").classList.add("red");
        document.getElementById("ehigh" + "e-moll").classList.add("red");
      </script>

      <h2 id="newSection">
        Andere Akkorde, die ein <span class="uppercase">e</span> enthalten:
      </h2>

      <div class="piano-surround">
        <h2 style="font-family: &quot;Roboto Slab&quot;, serif" id="C-Dur">
          C-Dur
        </h2>
        <div class="piano">
          <a href="/c">
            <div class="white" id="cC-Dur">
              <h1>c</h1>
            </div>
          </a>
          <a href="/cis">
            <div class="black" id="cisC-Dur">
              <h1>cis</h1>
            </div>
          </a>
          <a href="/des">
            <div class="black" id="desC-Dur">
              <h1>des</h1>
            </div>
          </a>
          <a href="/d">
            <div class="white" id="dC-Dur">
              <h1>d</h1>
            </div>
          </a>
          <a href="/dis">
            <div class="black" id="disC-Dur">
              <h1>dis</h1>
            </div>
          </a>
          <a href="/es">
            <div class="black" id="esC-Dur">
              <h1>es</h1>
            </div>
          </a>
          <a href="/e">
            <div class="white" id="eC-Dur">
              <h1>e</h1>
            </div>
          </a>
          <a href="/f">
            <div class="white" id="fC-Dur">
              <h1>f</h1>
            </div>
          </a>
          <a href="/fis">
            <div class="black" id="fisC-Dur">
              <h1>fis</h1>
            </div>
          </a>
          <a href="/ges">
            <div class="black" id="gesC-Dur">
              <h1>ges</h1>
            </div>
          </a>
          <a href="/g">
            <div class="white" id="gC-Dur">
              <h1>g</h1>
            </div>
          </a>
          <a href="/gis">
            <div class="black" id="gisC-Dur">
              <h1>gis</h1>
            </div>
          </a>
          <a href="/as">
            <div class="black" id="asC-Dur">
              <h1>as</h1>
            </div>
          </a>
          <a href="/a">
            <div class="white" id="aC-Dur">
              <h1>a</h1>
            </div>
          </a>
          <a href="/ais">
            <div class="black" id="aisC-Dur">
              <h1>ais</h1>
            </div>
          </a>
          <a href="/b">
            <div class="black" id="bC-Dur">
              <h1>b</h1>
            </div>
          </a>
          <a href="/h">
            <div class="white" id="hC-Dur">
              <h1>h</h1>
            </div>
          </a>
          <a href="/c">
            <div class="white" id="chighC-Dur">
              <h1>c</h1>
            </div>
          </a>
          <a href="/cis">
            <div class="black" id="cishighC-Dur">
              <h1>cis</h1>
            </div>
          </a>
          <a href="/des">
            <div class="black" id="deshighC-Dur">
              <h1>des</h1>
            </div>
          </a>
          <a href="/d">
            <div class="white" id="dhighC-Dur">
              <h1>d</h1>
            </div>
          </a>
          <a href="/dis">
            <div class="black" id="dishighC-Dur">
              <h1>dis</h1>
            </div>
          </a>
          <a href="/es">
            <div class="black" id="eshighC-Dur">
              <h1>es</h1>
            </div>
          </a>
          <a href="/e">
            <div class="white" id="ehighC-Dur">
              <h1>e</h1>
            </div>
          </a>
          <a href="/f">
            <div class="white" id="fhighC-Dur">
              <h1>f</h1>
            </div>
          </a>
          <a href="/fis">
            <div class="black" id="fishighC-Dur">
              <h1>fis</h1>
            </div>
          </a>
          <a href="/ges">
            <div class="black" id="geshighC-Dur">
              <h1>ges</h1>
            </div>
          </a>
          <a href="/g">
            <div class="white" id="ghighC-Dur">
              <h1>g</h1>
            </div>
          </a>
          <a href="/gis">
            <div class="black" id="gishighC-Dur">
              <h1>gis</h1>
            </div>
          </a>
          <a href="/as">
            <div class="black" id="ashighC-Dur">
              <h1>as</h1>
            </div>
          </a>
          <a href="/a">
            <div class="white" id="ahighC-Dur">
              <h1>a</h1>
            </div>
          </a>
          <a href="/ais">
            <div class="black" id="aishighC-Dur">
              <h1>ais</h1>
            </div>
          </a>
          <a href="/b">
            <div class="black" id="bhighC-Dur">
              <h1>b</h1>
            </div>
          </a>
          <a href="/h">
            <div class="white" id="hhighC-Dur">
              <h1>h</h1>
            </div>
          </a>
        </div>

        <audio controls class="soundfile">
          <source src="/musicfiles/C-Dur.mp3" type="audio/mpeg" />
          Your browser does not support the audio element.
        </audio>

        <a href="/a/#a-moll">
          <p>Paralleltonart: a-moll</p>
        </a>
      </div>

      <script>
        document.getElementById("c" + "C-Dur").classList.add("red");
        document.getElementById("e" + "C-Dur").classList.add("red");
        document.getElementById("g" + "C-Dur").classList.add("red");
        document.getElementById("chigh" + "C-Dur").classList.add("red");
      </script>

      <div class="piano-surround">
        <h2 style="font-family: &quot;Roboto Slab&quot;, serif" id="A-Dur">
          A-Dur
        </h2>
        <div class="piano">
          <a href="/c">
            <div class="white" id="cA-Dur">
              <h1>c</h1>
            </div>
          </a>
          <a href="/cis">
            <div class="black" id="cisA-Dur">
              <h1>cis</h1>
            </div>
          </a>
          <a href="/des">
            <div class="black" id="desA-Dur">
              <h1>des</h1>
            </div>
          </a>
          <a href="/d">
            <div class="white" id="dA-Dur">
              <h1>d</h1>
            </div>
          </a>
          <a href="/dis">
            <div class="black" id="disA-Dur">
              <h1>dis</h1>
            </div>
          </a>
          <a href="/es">
            <div class="black" id="esA-Dur">
              <h1>es</h1>
            </div>
          </a>
          <a href="/e">
            <div class="white" id="eA-Dur">
              <h1>e</h1>
            </div>
          </a>
          <a href="/f">
            <div class="white" id="fA-Dur">
              <h1>f</h1>
            </div>
          </a>
          <a href="/fis">
            <div class="black" id="fisA-Dur">
              <h1>fis</h1>
            </div>
          </a>
          <a href="/ges">
            <div class="black" id="gesA-Dur">
              <h1>ges</h1>
            </div>
          </a>
          <a href="/g">
            <div class="white" id="gA-Dur">
              <h1>g</h1>
            </div>
          </a>
          <a href="/gis">
            <div class="black" id="gisA-Dur">
              <h1>gis</h1>
            </div>
          </a>
          <a href="/as">
            <div class="black" id="asA-Dur">
              <h1>as</h1>
            </div>
          </a>
          <a href="/a">
            <div class="white" id="aA-Dur">
              <h1>a</h1>
            </div>
          </a>
          <a href="/ais">
            <div class="black" id="aisA-Dur">
              <h1>ais</h1>
            </div>
          </a>
          <a href="/b">
            <div class="black" id="bA-Dur">
              <h1>b</h1>
            </div>
          </a>
          <a href="/h">
            <div class="white" id="hA-Dur">
              <h1>h</h1>
            </div>
          </a>
          <a href="/c">
            <div class="white" id="chighA-Dur">
              <h1>c</h1>
            </div>
          </a>
          <a href="/cis">
            <div class="black" id="cishighA-Dur">
              <h1>cis</h1>
            </div>
          </a>
          <a href="/des">
            <div class="black" id="deshighA-Dur">
              <h1>des</h1>
            </div>
          </a>
          <a href="/d">
            <div class="white" id="dhighA-Dur">
              <h1>d</h1>
            </div>
          </a>
          <a href="/dis">
            <div class="black" id="dishighA-Dur">
              <h1>dis</h1>
            </div>
          </a>
          <a href="/es">
            <div class="black" id="eshighA-Dur">
              <h1>es</h1>
            </div>
          </a>
          <a href="/e">
            <div class="white" id="ehighA-Dur">
              <h1>e</h1>
            </div>
          </a>
          <a href="/f">
            <div class="white" id="fhighA-Dur">
              <h1>f</h1>
            </div>
          </a>
          <a href="/fis">
            <div class="black" id="fishighA-Dur">
              <h1>fis</h1>
            </div>
          </a>
          <a href="/ges">
            <div class="black" id="geshighA-Dur">
              <h1>ges</h1>
            </div>
          </a>
          <a href="/g">
            <div class="white" id="ghighA-Dur">
              <h1>g</h1>
            </div>
          </a>
          <a href="/gis">
            <div class="black" id="gishighA-Dur">
              <h1>gis</h1>
            </div>
          </a>
          <a href="/as">
            <div class="black" id="ashighA-Dur">
              <h1>as</h1>
            </div>
          </a>
          <a href="/a">
            <div class="white" id="ahighA-Dur">
              <h1>a</h1>
            </div>
          </a>
          <a href="/ais">
            <div class="black" id="aishighA-Dur">
              <h1>ais</h1>
            </div>
          </a>
          <a href="/b">
            <div class="black" id="bhighA-Dur">
              <h1>b</h1>
            </div>
          </a>
          <a href="/h">
            <div class="white" id="hhighA-Dur">
              <h1>h</h1>
            </div>
          </a>
        </div>

        <audio controls class="soundfile">
          <source src="/musicfiles/A-Dur.mp3" type="audio/mpeg" />
          Your browser does not support the audio element.
        </audio>

        <a href="/fis/#fis-moll">
          <p>Paralleltonart: fis-moll</p>
        </a>
      </div>

      <script>
        document.getElementById("a" + "A-Dur").classList.add("red");
        document.getElementById("cishigh" + "A-Dur").classList.add("red");
        document.getElementById("ehigh" + "A-Dur").classList.add("red");
        document.getElementById("ahigh" + "A-Dur").classList.add("red");
      </script>

      <div class="piano-surround">
        <h2 style="font-family: &quot;Roboto Slab&quot;, serif" id="a-moll">
          a-moll
        </h2>
        <div class="piano">
          <a href="/c">
            <div class="white" id="ca-moll">
              <h1>c</h1>
            </div>
          </a>
          <a href="/cis">
            <div class="black" id="cisa-moll">
              <h1>cis</h1>
            </div>
          </a>
          <a href="/des">
            <div class="black" id="desa-moll">
              <h1>des</h1>
            </div>
          </a>
          <a href="/d">
            <div class="white" id="da-moll">
              <h1>d</h1>
            </div>
          </a>
          <a href="/dis">
            <div class="black" id="disa-moll">
              <h1>dis</h1>
            </div>
          </a>
          <a href="/es">
            <div class="black" id="esa-moll">
              <h1>es</h1>
            </div>
          </a>
          <a href="/e">
            <div class="white" id="ea-moll">
              <h1>e</h1>
            </div>
          </a>
          <a href="/f">
            <div class="white" id="fa-moll">
              <h1>f</h1>
            </div>
          </a>
          <a href="/fis">
            <div class="black" id="fisa-moll">
              <h1>fis</h1>
            </div>
          </a>
          <a href="/ges">
            <div class="black" id="gesa-moll">
              <h1>ges</h1>
            </div>
          </a>
          <a href="/g">
            <div class="white" id="ga-moll">
              <h1>g</h1>
            </div>
          </a>
          <a href="/gis">
            <div class="black" id="gisa-moll">
              <h1>gis</h1>
            </div>
          </a>
          <a href="/as">
            <div class="black" id="asa-moll">
              <h1>as</h1>
            </div>
          </a>
          <a href="/a">
            <div class="white" id="aa-moll">
              <h1>a</h1>
            </div>
          </a>
          <a href="/ais">
            <div class="black" id="aisa-moll">
              <h1>ais</h1>
            </div>
          </a>
          <a href="/b">
            <div class="black" id="ba-moll">
              <h1>b</h1>
            </div>
          </a>
          <a href="/h">
            <div class="white" id="ha-moll">
              <h1>h</h1>
            </div>
          </a>
          <a href="/c">
            <div class="white" id="chigha-moll">
              <h1>c</h1>
            </div>
          </a>
          <a href="/cis">
            <div class="black" id="cishigha-moll">
              <h1>cis</h1>
            </div>
          </a>
          <a href="/des">
            <div class="black" id="deshigha-moll">
              <h1>des</h1>
            </div>
          </a>
          <a href="/d">
            <div class="white" id="dhigha-moll">
              <h1>d</h1>
            </div>
          </a>
          <a href="/dis">
            <div class="black" id="dishigha-moll">
              <h1>dis</h1>
            </div>
          </a>
          <a href="/es">
            <div class="black" id="eshigha-moll">
              <h1>es</h1>
            </div>
          </a>
          <a href="/e">
            <div class="white" id="ehigha-moll">
              <h1>e</h1>
            </div>
          </a>
          <a href="/f">
            <div class="white" id="fhigha-moll">
              <h1>f</h1>
            </div>
          </a>
          <a href="/fis">
            <div class="black" id="fishigha-moll">
              <h1>fis</h1>
            </div>
          </a>
          <a href="/ges">
            <div class="black" id="geshigha-moll">
              <h1>ges</h1>
            </div>
          </a>
          <a href="/g">
            <div class="white" id="ghigha-moll">
              <h1>g</h1>
            </div>
          </a>
          <a href="/gis">
            <div class="black" id="gishigha-moll">
              <h1>gis</h1>
            </div>
          </a>
          <a href="/as">
            <div class="black" id="ashigha-moll">
              <h1>as</h1>
            </div>
          </a>
          <a href="/a">
            <div class="white" id="ahigha-moll">
              <h1>a</h1>
            </div>
          </a>
          <a href="/ais">
            <div class="black" id="aishigha-moll">
              <h1>ais</h1>
            </div>
          </a>
          <a href="/b">
            <div class="black" id="bhigha-moll">
              <h1>b</h1>
            </div>
          </a>
          <a href="/h">
            <div class="white" id="hhigha-moll">
              <h1>h</h1>
            </div>
          </a>
        </div>

        <audio controls class="soundfile">
          <source src="/musicfiles/a-moll.mp3" type="audio/mpeg" />
          Your browser does not support the audio element.
        </audio>

        <a href="/c/#C-Dur">
          <p>Paralleltonart: C-Dur</p>
        </a>
      </div>

      <script>
        document.getElementById("a" + "a-moll").classList.add("red");
        document.getElementById("chigh" + "a-moll").classList.add("red");
        document.getElementById("ehigh" + "a-moll").classList.add("red");
        document.getElementById("ahigh" + "a-moll").classList.add("red");
      </script>

      <div class="piano-surround">
        <h2 style="font-family: &quot;Roboto Slab&quot;, serif" id="cis-moll">
          cis-moll
        </h2>
        <div class="piano">
          <a href="/c">
            <div class="white" id="ccis-moll">
              <h1>c</h1>
            </div>
          </a>
          <a href="/cis">
            <div class="black" id="ciscis-moll">
              <h1>cis</h1>
            </div>
          </a>
          <a href="/des">
            <div class="black" id="descis-moll">
              <h1>des</h1>
            </div>
          </a>
          <a href="/d">
            <div class="white" id="dcis-moll">
              <h1>d</h1>
            </div>
          </a>
          <a href="/dis">
            <div class="black" id="discis-moll">
              <h1>dis</h1>
            </div>
          </a>
          <a href="/es">
            <div class="black" id="escis-moll">
              <h1>es</h1>
            </div>
          </a>
          <a href="/e">
            <div class="white" id="ecis-moll">
              <h1>e</h1>
            </div>
          </a>
          <a href="/f">
            <div class="white" id="fcis-moll">
              <h1>f</h1>
            </div>
          </a>
          <a href="/fis">
            <div class="black" id="fiscis-moll">
              <h1>fis</h1>
            </div>
          </a>
          <a href="/ges">
            <div class="black" id="gescis-moll">
              <h1>ges</h1>
            </div>
          </a>
          <a href="/g">
            <div class="white" id="gcis-moll">
              <h1>g</h1>
            </div>
          </a>
          <a href="/gis">
            <div class="black" id="giscis-moll">
              <h1>gis</h1>
            </div>
          </a>
          <a href="/as">
            <div class="black" id="ascis-moll">
              <h1>as</h1>
            </div>
          </a>
          <a href="/a">
            <div class="white" id="acis-moll">
              <h1>a</h1>
            </div>
          </a>
          <a href="/ais">
            <div class="black" id="aiscis-moll">
              <h1>ais</h1>
            </div>
          </a>
          <a href="/b">
            <div class="black" id="bcis-moll">
              <h1>b</h1>
            </div>
          </a>
          <a href="/h">
            <div class="white" id="hcis-moll">
              <h1>h</h1>
            </div>
          </a>
          <a href="/c">
            <div class="white" id="chighcis-moll">
              <h1>c</h1>
            </div>
          </a>
          <a href="/cis">
            <div class="black" id="cishighcis-moll">
              <h1>cis</h1>
            </div>
          </a>
          <a href="/des">
            <div class="black" id="deshighcis-moll">
              <h1>des</h1>
            </div>
          </a>
          <a href="/d">
            <div class="white" id="dhighcis-moll">
              <h1>d</h1>
            </div>
          </a>
          <a href="/dis">
            <div class="black" id="dishighcis-moll">
              <h1>dis</h1>
            </div>
          </a>
          <a href="/es">
            <div class="black" id="eshighcis-moll">
              <h1>es</h1>
            </div>
          </a>
          <a href="/e">
            <div class="white" id="ehighcis-moll">
              <h1>e</h1>
            </div>
          </a>
          <a href="/f">
            <div class="white" id="fhighcis-moll">
              <h1>f</h1>
            </div>
          </a>
          <a href="/fis">
            <div class="black" id="fishighcis-moll">
              <h1>fis</h1>
            </div>
          </a>
          <a href="/ges">
            <div class="black" id="geshighcis-moll">
              <h1>ges</h1>
            </div>
          </a>
          <a href="/g">
            <div class="white" id="ghighcis-moll">
              <h1>g</h1>
            </div>
          </a>
          <a href="/gis">
            <div class="black" id="gishighcis-moll">
              <h1>gis</h1>
            </div>
          </a>
          <a href="/as">
            <div class="black" id="ashighcis-moll">
              <h1>as</h1>
            </div>
          </a>
          <a href="/a">
            <div class="white" id="ahighcis-moll">
              <h1>a</h1>
            </div>
          </a>
          <a href="/ais">
            <div class="black" id="aishighcis-moll">
              <h1>ais</h1>
            </div>
          </a>
          <a href="/b">
            <div class="black" id="bhighcis-moll">
              <h1>b</h1>
            </div>
          </a>
          <a href="/h">
            <div class="white" id="hhighcis-moll">
              <h1>h</h1>
            </div>
          </a>
        </div>

        <audio controls class="soundfile">
          <source src="/musicfiles/cis-moll.mp3" type="audio/mpeg" />
          Your browser does not support the audio element.
        </audio>

        <a href="/e/#E-Dur">
          <p>Paralleltonart: E-Dur</p>
        </a>
      </div>

      <script>
        document.getElementById("cis" + "cis-moll").classList.add("red");
        document.getElementById("e" + "cis-moll").classList.add("red");
        document.getElementById("gis" + "cis-moll").classList.add("red");
        document.getElementById("cishigh" + "cis-moll").classList.add("red");
      </script>
    </main>

    <footer>
      <a href="/dsgvo">DSGVO</a>
    </footer>
  </body>
</html>
