<header>
  <div class="headercontent">
    <div class="button">
      <a href="$language$">$selector$</a>
    </div>
    <div class="button">
      <a href="$language$completelist">$overview$</a>
    </div>
    <div class="button">
      <a href="$language$aboutme">$about$</a>
    </div>
  </div>
  <div class="language-menu">
    <a href="/"><img src="/images/germany.jpg" /> Deutsch</a>
    | <a href="/english/"><img src="/images/uk.jpg" /> English</a> |
    <a href="/roman/"><img src="/images/italy.jpg" /> Italiano</a>
  </div>
</header>
