<div class="piano-surround">
  <h2 style="font-family: 'Roboto Slab', serif" id="E-Dur">E-Dur</h2>
  <div class="piano">
    <a href="/c">
      <div class="$coloring(c:white)$" id="c$chordname$">
        <h1>c</h1>
      </div>
    </a>
    <a href="/cis">
      <div class="$coloring(cis:black)$" id="cis$chordname$">
        <h1>cis</h1>
      </div>
    </a>
    <a href="/des">
      <div class="$coloring(des:black)$" id="des$chordname$">
        <h1>des</h1>
      </div>
    </a>
    <a href="/d">
      <div class="$coloring(d:white)$" id="d$chordname$">
        <h1>d</h1>
      </div>
    </a>
    <a href="/dis">
      <div class="$coloring(dis:black)$" id="dis$chordname$">
        <h1>dis</h1>
      </div>
    </a>
    <a href="/es">
      <div class="$coloring(es:black)$" id="es$chordname$">
        <h1>es</h1>
      </div>
    </a>
    <a href="/e">
      <div class="$coloring(e:white)$" id="e$chordname$">
        <h1>e</h1>
      </div>
    </a>
    <a href="/f">
      <div class="$coloring(f:white)$" id="f$chordname$">
        <h1>f</h1>
      </div>
    </a>
    <a href="/fis">
      <div class="$coloring(fis:black)$" id="fis$chordname$">
        <h1>fis</h1>
      </div>
    </a>
    <a href="/ges">
      <div class="$coloring(ges:black)$" id="ges$chordname$">
        <h1>ges</h1>
      </div>
    </a>
    <a href="/g">
      <div class="$coloring(g:white)$" id="g$chordname$">
        <h1>g</h1>
      </div>
    </a>
    <a href="/gis">
      <div class="$coloring(gis:black)$" id="gis$chordname$">
        <h1>gis</h1>
      </div>
    </a>
    <a href="/as">
      <div class="$coloring(as:black)$" id="as$chordname$">
        <h1>as</h1>
      </div>
    </a>
    <a href="/a">
      <div class="$coloring(a:white)$" id="a$chordname$">
        <h1>a</h1>
      </div>
    </a>
    <a href="/ais">
      <div class="$coloring(ais:black)$" id="ais$chordname$">
        <h1>ais</h1>
      </div>
    </a>
    <a href="/b">
      <div class="$coloring(b:black)$" id="b$chordname$">
        <h1>b</h1>
      </div>
    </a>
    <a href="/h">
      <div class="$coloring(h:white)$" id="h$chordname$">
        <h1>h</h1>
      </div>
    </a>
    <a href="/c">
      <div class="$coloring(c:white)$" id="chigh$chordname$">
        <h1>c</h1>
      </div>
    </a>
    <a href="/cis">
      <div class="$coloring(cis:black)$" id="cishigh$chordname$">
        <h1>cis</h1>
      </div>
    </a>
    <a href="/des">
      <div class="$coloring(des:black)$" id="deshigh$chordname$">
        <h1>des</h1>
      </div>
    </a>
    <a href="/d">
      <div class="$coloring(d:white)$" id="dhigh$chordname$">
        <h1>d</h1>
      </div>
    </a>
    <a href="/dis">
      <div class="$coloring(dis:black)$" id="dishigh$chordname$">
        <h1>dis</h1>
      </div>
    </a>
    <a href="/es">
      <div class="$coloring(es:black)$" id="eshigh$chordname$">
        <h1>es</h1>
      </div>
    </a>
    <a href="/e">
      <div class="$coloring(e:white)$" id="ehigh$chordname$">
        <h1>e</h1>
      </div>
    </a>
    <a href="/f">
      <div class="$coloring(f:white)$" id="fhigh$chordname$">
        <h1>f</h1>
      </div>
    </a>
    <a href="/fis">
      <div class="$coloring(fis:black)$" id="fishigh$chordname$">
        <h1>fis</h1>
      </div>
    </a>
    <a href="/ges">
      <div class="$coloring(ges:black)$" id="geshigh$chordname$">
        <h1>ges</h1>
      </div>
    </a>
    <a href="/g">
      <div class="$coloring(g:white)$" id="ghigh$chordname$">
        <h1>g</h1>
      </div>
    </a>
    <a href="/gis">
      <div class="$coloring(gis:black)$" id="gishigh$chordname$">
        <h1>gis</h1>
      </div>
    </a>
    <a href="/as">
      <div class="$coloring(as:black)$" id="ashigh$chordname$">
        <h1>as</h1>
      </div>
    </a>
    <a href="/a">
      <div class="$coloring(a:white)$" id="ahigh$chordname$">
        <h1>a</h1>
      </div>
    </a>
    <a href="/ais">
      <div class="$coloring(ais:black)$" id="aishigh$chordname$">
        <h1>ais</h1>
      </div>
    </a>
    <a href="/b">
      <div class="$coloring(b:black)$" id="bhigh$chordname$">
        <h1>b</h1>
      </div>
    </a>
    <a href="/h">
      <div class="$coloring(h:white)$" id="hhigh$chordname$">
        <h1>h</h1>
      </div>
    </a>
  </div>

  <audio controls class="soundfile">
    <source src="/musicfiles/E-Dur.mp3" type="audio/mpeg" />
    Your browser does not support the audio element.
  </audio>

  <a href="/cis/#cis-moll">
    <p>Paralleltonart: cis-moll</p>
  </a>
</div>
