<div class="piano-surround">
  <h2 style="font-family: &quot;Roboto Slab&quot;, serif" id="$chordname$">
    $chordname$
  </h2>
  <div class="piano">
    <a href="/$0$">
      <div class="$coloring(0:white)$" id="$0$$chordname$">
        <h1>c</h1>
      </div>
    </a>

    <a href="/$1$">
      <div class="$coloring(1:black)$" id="$1$$chordname$">
        <h1>cis</h1>
      </div>
    </a>

    <a href="/$2$">
      <div class="$coloring(2:black)$" id="$2$$chordname$">
        <h1>des</h1>
      </div>
    </a>

    <a href="/$3$">
      <div class="$coloring(3:white)$" id="$3$$chordname$">
        <h1>d</h1>
      </div>
    </a>

    <a href="/$4$">
      <div class="$coloring(4:black)$" id="$4$$chordname$">
        <h1>dis</h1>
      </div>
    </a>

    <a href="/$5$">
      <div class="$coloring(5:black)$" id="$5$$chordname$">
        <h1>es</h1>
      </div>
    </a>

    <a href="/$6$">
      <div class="$coloring(6:white)$" id="$6$$chordname$">
        <h1>e</h1>
      </div>
    </a>

    <a href="/$8$">
      <div class="$coloring(8:white)$" id="$8$$chordname$">
        <h1>f</h1>
      </div>
    </a>

    <a href="/$9$">
      <div class="$coloring(9:black)$" id="$9$$chordname$">
        <h1>fis</h1>
      </div>
    </a>

    <a href="/$10$">
      <div class="$coloring(10:black)$" id="$10$$chordname$">
        <h1>ges</h1>
      </div>
    </a>

    <a href="/$11$">
      <div class="$coloring(11:white)$" id="$11$$chordname$">
        <h1>g</h1>
      </div>
    </a>

    <a href="/$12$">
      <div class="$coloring(12:black)$" id="$12$$chordname$">
        <h1>gis</h1>
      </div>
    </a>

    <a href="/$13$">
      <div class="$coloring(13:black)$" id="$13$$chordname$">
        <h1>as</h1>
      </div>
    </a>

    <a href="/$14$">
      <div class="$coloring(14:white)$" id="$14$$chordname$">
        <h1>a</h1>
      </div>
    </a>

    <a href="/$15$">
      <div class="$coloring(15:black)$" id="$15$$chordname$">
        <h1>ais</h1>
      </div>
    </a>

    <a href="/$16$">
      <div class="$coloring(16:black)$" id="$16$$chordname$">
        <h1>b</h1>
      </div>
    </a>

    <a href="/$17$">
      <div class="$coloring(17:white)$" id="$17$$chordname$">
        <h1>h</h1>
      </div>
    </a>

    <a href="/$19$">
      <div class="$coloring(19:white)$" id="$19$$chordname$">
        <h1>c</h1>
      </div>
    </a>

    <a href="/$20$">
      <div class="$coloring(20:black)$" id="$20$$chordname$">
        <h1>cis</h1>
      </div>
    </a>

    <a href="/$21$">
      <div class="$coloring(21:black)$" id="$21$$chordname$">
        <h1>des</h1>
      </div>
    </a>

    <a href="/$22$">
      <div class="$coloring(22:white)$" id="$22$$chordname$">
        <h1>d</h1>
      </div>
    </a>

    <a href="/$23$">
      <div class="$coloring(23:black)$" id="$23$$chordname$">
        <h1>dis</h1>
      </div>
    </a>

    <a href="/$24$">
      <div class="$coloring(24:black)$" id="$24$$chordname$">
        <h1>es</h1>
      </div>
    </a>

    <a href="/$25$">
      <div class="$coloring(25:white)$" id="$25$$chordname$">
        <h1>e</h1>
      </div>
    </a>

    <a href="/$27$">
      <div class="$coloring(27:white)$" id="$27$$chordname$">
        <h1>f</h1>
      </div>
    </a>

    <a href="/$28$">
      <div class="$coloring(28:black)$" id="$28$$chordname$">
        <h1>fis</h1>
      </div>
    </a>

    <a href="/$29$">
      <div class="$coloring(29:black)$" id="$29$$chordname$">
        <h1>ges</h1>
      </div>
    </a>

    <a href="/$30$">
      <div class="$coloring(30:white)$" id="$30$$chordname$">
        <h1>g</h1>
      </div>
    </a>

    <a href="/$31$">
      <div class="$coloring(31:black)$" id="$31$$chordname$">
        <h1>gis</h1>
      </div>
    </a>

    <a href="/$32$">
      <div class="$coloring(32:black)$" id="$32$$chordname$">
        <h1>as</h1>
      </div>
    </a>

    <a href="/$33$">
      <div class="$coloring(33:white)$" id="$33$$chordname$">
        <h1>a</h1>
      </div>
    </a>

    <a href="/$34$">
      <div class="$coloring(34:black)$" id="$34$$chordname$">
        <h1>ais</h1>
      </div>
    </a>

    <a href="/$35$">
      <div class="$coloring(35:black)$" id="$35$$chordname$">
        <h1>b</h1>
      </div>
    </a>

    <a href="/$36$">
      <div class="$coloring(36:white)$" id="$36$$chordname$">
        <h1>h</h1>
      </div>
    </a>
  </div>

  <audio controls class="soundfile">
    <source src="/musicfiles/$audiofilename$.mp3" type="audio/mpeg" />
    Your browser does not support the audio element.
  </audio>

  <a href="/cis/#cis-moll">
    <p>Paralleltonart: cis-moll</p>
  </a>
</div>
