<div class="piano-surround">
  <h2 style="font-family: &quot;Roboto Slab&quot;, serif" id="$chordname$">
    $chordname$
  </h2>
  <div class="piano">
    <a href="/$language$$0$">
      <div class="$coloring(0:white)$" id="$0$$chordname$"><h1>$0$</h1></div>
    </a>

    <a href="/$language$$1$">
      <div class="$coloring(1:black)$" id="$1$$chordname$"><h1>$1$</h1></div>
    </a>

    <a href="/$language$$2$">
      <div class="$coloring(2:black)$" id="$2$$chordname$"><h1>$2$</h1></div>
    </a>

    <a href="/$language$$3$">
      <div class="$coloring(3:white)$" id="$3$$chordname$"><h1>$3$</h1></div>
    </a>

    <a href="/$language$$4$">
      <div class="$coloring(4:black)$" id="$4$$chordname$"><h1>$4$</h1></div>
    </a>

    <a href="/$language$$5$">
      <div class="$coloring(5:black)$" id="$5$$chordname$"><h1>$5$</h1></div>
    </a>

    <a href="/$language$$6$">
      <div class="$coloring(6:white)$" id="$6$$chordname$"><h1>$6$</h1></div>
    </a>

    <a href="/$language$$8$">
      <div class="$coloring(8:white)$" id="$8$$chordname$"><h1>$8$</h1></div>
    </a>

    <a href="/$language$$9$">
      <div class="$coloring(9:black)$" id="$9$$chordname$"><h1>$9$</h1></div>
    </a>

    <a href="/$language$$10$">
      <div class="$coloring(10:black)$" id="$10$$chordname$"><h1>$10$</h1></div>
    </a>

    <a href="/$language$$11$">
      <div class="$coloring(11:white)$" id="$11$$chordname$"><h1>$11$</h1></div>
    </a>

    <a href="/$language$$12$">
      <div class="$coloring(12:black)$" id="$12$$chordname$"><h1>$12$</h1></div>
    </a>

    <a href="/$language$$13$">
      <div class="$coloring(13:black)$" id="$13$$chordname$"><h1>$13$</h1></div>
    </a>

    <a href="/$language$$14$">
      <div class="$coloring(14:white)$" id="$14$$chordname$"><h1>$14$</h1></div>
    </a>

    <a href="/$language$$15$">
      <div class="$coloring(15:black)$" id="$15$$chordname$"><h1>$15$</h1></div>
    </a>

    <a href="/$language$$16$">
      <div class="$coloring(16:black)$" id="$16$$chordname$"><h1>$16$</h1></div>
    </a>

    <a href="/$language$$17$">
      <div class="$coloring(17:white)$" id="$17$$chordname$"><h1>$17$</h1></div>
    </a>

    <a href="/$language$$19$">
      <div class="$coloring(19:white)$" id="$19$$chordname$"><h1>$19$</h1></div>
    </a>

    <a href="/$language$$20$">
      <div class="$coloring(20:black)$" id="$20$$chordname$"><h1>$20$</h1></div>
    </a>

    <a href="/$language$$21$">
      <div class="$coloring(21:black)$" id="$21$$chordname$"><h1>$21$</h1></div>
    </a>

    <a href="/$language$$22$">
      <div class="$coloring(22:white)$" id="$22$$chordname$"><h1>$22$</h1></div>
    </a>

    <a href="/$language$$23$">
      <div class="$coloring(23:black)$" id="$23$$chordname$"><h1>$23$</h1></div>
    </a>

    <a href="/$language$$24$">
      <div class="$coloring(24:black)$" id="$24$$chordname$"><h1>$24$</h1></div>
    </a>

    <a href="/$language$$25$">
      <div class="$coloring(25:white)$" id="$25$$chordname$"><h1>$25$</h1></div>
    </a>

    <a href="/$language$$27$">
      <div class="$coloring(27:white)$" id="$27$$chordname$"><h1>$27$</h1></div>
    </a>

    <a href="/$language$$28$">
      <div class="$coloring(28:black)$" id="$28$$chordname$"><h1>$28$</h1></div>
    </a>

    <a href="/$language$$29$">
      <div class="$coloring(29:black)$" id="$29$$chordname$"><h1>$29$</h1></div>
    </a>

    <a href="/$language$$30$">
      <div class="$coloring(30:white)$" id="$30$$chordname$"><h1>$30$</h1></div>
    </a>

    <a href="/$language$$31$">
      <div class="$coloring(31:black)$" id="$31$$chordname$"><h1>$31$</h1></div>
    </a>

    <a href="/$language$$32$">
      <div class="$coloring(32:black)$" id="$32$$chordname$"><h1>$32$</h1></div>
    </a>

    <a href="/$language$$33$">
      <div class="$coloring(33:white)$" id="$33$$chordname$"><h1>$33$</h1></div>
    </a>

    <a href="/$language$$34$">
      <div class="$coloring(34:black)$" id="$34$$chordname$"><h1>$34$</h1></div>
    </a>

    <a href="/$language$$35$">
      <div class="$coloring(35:black)$" id="$35$$chordname$"><h1>$35$</h1></div>
    </a>

    <a href="/$language$$36$">
      <div class="$coloring(36:white)$" id="$36$$chordname$"><h1>$36$</h1></div>
    </a>
  </div>

  <audio controls class="soundfile">
    <source src="/musicfiles/$audiofilename$.mp3" type="audio/mpeg" />
    Your browser does not support the audio element.
  </audio>

  <a href="/cis/#cis-moll">
    <p>Paralleltonart: cis-moll</p>
  </a>
</div>
