<main>
  <div class="jumppoints">
    <p><span class="uppercase">$basetone$</span> $asbase$:</p>
    <div class="jInner">$jumperElementsChord$</div>

    <p>
      $othercords$
      <span class="uppercase">$basetone$</span>:
    </p>
    <div class="jInner">$jumperElementsRelated$</div>
  </div>
  <h2><span class="uppercase">$basetone$</span> $asbase$:</h2>
  $pianoElementsBasetone$
  <h2 id="newSection">
    $othercords$ <span class="uppercase">$basetone$</span>:
  </h2>
  $pianoElementsRelated$
</main>
